# Server Port
PORT=5000

# MongoDB Connection String (e.g. mongodb://localhost:27017/36montane or mongodb+srv://<user>:<password>@cluster.mongodb.net/36montane)
# If left unset or unreachable, the server will gracefully run in mock/offline mode.
MONGODB_URI=mongodb://localhost:27017/36montane

# JWT Secret for authentication
JWT_SECRET=your_jwt_secret_key_here

# Frontend Application Origin for CORS
initURL=http://localhost:3000

